* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* imagem estiver dentro da pasta public, você deve usar o caminho relativo
  a partir do nível da raiz do projeto, sem o prefixo ../public */
  background-image: url('/img/nadine-e-giRptv1GDN4-unsplash.jpg');
}

.box {
  border: 10px solid #ffffff;
  margin-bottom: 220px;
  padding: 20px;
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  color: #fff;
  font-size: 100px;
  padding: 10px;
  text-transform: uppercase;
}

.subTitle {
  color: #fff;
  font-size: 41px;
  padding: 8px;
}

.tenis-botao {
  border: none;
  background: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  transition: transform 0.2s;
}

.tenis-botao:hover {
  transform: scale(1.05); /* efeito de zoom ao passar o mouse */
}
.tenis-botao img {
  position: relative;
  width: 100%;
  height: 100%;
}

.tenis-container{
  position: relative;
  display: inline-block;
}

.tenis-botao {
  height: 100px;
  width: 100px;
  object-fit: cover;
}


.sobre-img {
  position: absolute;
  bottom: 134px;
  left: 50px;
  transform: translateX(-50%); /* Centraliza o texto horizontalmente */
  color: white;
  text-align: center;
  cursor: pointer; /* Aparece como um botão */
}



/* Carrossel */
/*centralizar o carrossel no meio da tela */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 20px;
}

.carousel-container {
  position: relative;
  max-width: 800px;
  overflow: hidden;
}
.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel-slide img {
  width: 100%;
  max-width: 300px; /* Ajuste conforme necessário */
  display: none; /* Oculta todas as imagens por padrão */
  text-align: center;
}
.carousel-slide img.active {
  display: block; /* Apenas a imagem ativa será exibida */
}
.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.carousel-button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  border: 1px solid #000;
  padding: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p {
  margin-top: 10px;
  text-align: center;
}
